@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Roboto';
    background: #151515;
}
*{
    margin: 0;
    padding: 0;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.percent{
    color: #999;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}
.text{
    position: absolute;
    left: 160px;
    color: #fdb5ca;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 21px;
    display: none;
}
.text-blink{
    animation: blink .7s ease-in-out .1s;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}
.progress-bar{
    width: 406px;
    height: 21px;
    background: #111;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
}
.progress{
    width: 200px;
    height: 15px;
    background: #ef3875;
    border-radius: 13px;
}